# This file contains common pin mappings for MKS Robin Nano V3
# boards. To use this config, the firmware should be compiled for the
# stm32f407. When running "make menuconfig", select the 48KiB
# bootloader, and enable "USB for communication".

# The "make flash" command does not work on the MKS Robin. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "Robin_nano_v3.bin" on an SD card and then restart the
# MKS Robin with that SD card.

# See docs/Config_Reference.md for a description of parameters.

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f407xx_1F0029000250474835363820-if00

[printer]
kinematics: delta
max_velocity: 7000
max_accel: 7000
max_z_velocity: 2000
#minimum_z_position: -5
square_corner_velocity: 15.0
print_radius:132.5

[gcode_arcs]
resolution: 1.0

########################################
# A (X-Stepper) Configuration
########################################
[stepper_a] # X
step_pin: PE3
dir_pin: PE2
enable_pin: !PE4
microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 200
endstop_pin: ^PA15 #X_MAX
homing_speed: 60

[tmc2209 stepper_a]
uart_pin: PD5
interpolate: true
run_current: 0.90
hold_current: 0.5
sense_resistor: 0.110
stealthchop_threshold: 100

########################################
# B (Y-Stepper)  Configuration
########################################
[stepper_b] # Y
step_pin: PE0
dir_pin: PB9
enable_pin: !PE1
microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 200
endstop_pin: ^PD2 #Y_MAX
homing_speed: 60

[tmc2209 stepper_b]
uart_pin: PD7
interpolate: true
run_current: 0.90
hold_current: 0.5
sense_resistor: 0.110
stealthchop_threshold: 100

########################################
# C (Z-Stepper)  Configuration
########################################
[stepper_c] # Z
step_pin: PB5
dir_pin: PB4
enable_pin: !PB8
microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 200
endstop_pin: ^PC4 #Z_MAX
homing_speed: 60

[tmc2209 stepper_c]
uart_pin: PD4
interpolate: true
run_current: 0.90
hold_current: 0.5
sense_resistor: 0.110
stealthchop_threshold: 100

########################################
# Extruder Configuration
########################################
[extruder]
step_pin: PD6
dir_pin: !PD3
enable_pin: !PB3
microsteps: 16

# E3D Hemera Default 7.82
# E3D Hemera Other: 16.273
# FLSUN Stock: 7.68
rotation_distance: 7.68
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PE5
sensor_type: Generic 3950
sensor_pin: PC1
min_temp: 0
max_temp: 300
pressure_advance: 0
pressure_advance_smooth_time: 0.040
max_extrude_only_distance: 800.0

[tmc2209 extruder]
uart_pin: PD9
interpolate: true
run_current: 0.847
hold_current: 0.5
sense_resistor: 0.110
stealthchop_threshold: 100

########################################
# Bed Configuration
########################################

[heater_bed]
heater_pin: PA0
sensor_type: Generic 3950
sensor_pin: PC0
min_temp: 0
max_temp: 130

########################################
# Fan/Other Configuration
########################################

[fan]       # Part Cooling
pin: PC14

[heater_fan heatsink_fan] # Heatsink
pin: PB0 #PB1
max_power: 1.0
heater: extruder
heater_temp: 50.0
fan_speed: 1.0

[delta_calibrate]
radius: 130
horizontal_move_z: 50
speed: 20

[bed_mesh]
speed: 100
horizontal_move_z: 50
mesh_radius: 125
mesh_origin: 0,0
round_probe_count: 5

[probe]
pin: ^!PC8 #Z_MIN
x_offset: 0
y_offset: 0
z_offset: 16.705
speed: 20
samples: 5
samples_result: average
sample_retract_dist: 10
samples_tolerance: 0.02
samples_tolerance_retries: 10

[endstop_phase]

########################################
# Filament Runout
########################################

[filament_switch_sensor filament_runout_sensor]
switch_pin: PA4
pause_on_runout: true
runout_gcode:
    M600 ; pause macro

#insert_gcode:
#   A list of G-Code commands to execute after a filament insert is
#   detected. See docs/Command_Templates.md for G-Code format. The
#   default is not to run any G-Code commands, which disables insert
#   detection.
#event_delay: 3.0
#   The minimum amount of time in seconds to delay between events.
#   Events triggered during this time period will be silently
#   ignored. The default is 3 seconds.
#pause_delay: 0.5
#   The amount of time to delay, in seconds, between the pause command
#   dispatch and execution of the runout_gcode. It may be useful to
#   increase this delay if OctoPrint exhibits strange pause behavior.
#   Default is 0.5 seconds.


########################################
# Raspberry / Fluidd Configuration
########################################
[temperature_sensor rpi_temperature]
sensor_type: temperature_host

[temperature_sensor mcu_temperature]
sensor_type: temperature_mcu

[include fluidd.cfg]

########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PC5,  EXP1_3=PD13, EXP1_5=PE14, EXP1_7=PD11, EXP1_9=<GND>,
    EXP1_2=PE13, EXP1_4=PC6,  EXP1_6=PE15, EXP1_8=PD10, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=PA6, EXP2_3=PE8, EXP2_5=PE11, EXP2_7=PE12,  EXP2_9=<GND>,
    EXP2_2=PA5, EXP2_4=PE10, EXP2_6=PA7, EXP2_8=<RST>, EXP2_10=<3.3v>
    # Pins EXP2_1, EXP2_6, EXP2_2 are also MISO, MOSI, SCK of bus "ssp1"

# See the sample-lcd.cfg file for definitions of common LCD displays.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [printer]
#*# delta_radius = 152.023957
#*#
#*# [stepper_a]
#*# angle = 209.843400
#*# arm_length = 315.000000
#*# position_endstop = 338.414950
#*#
#*# [stepper_b]
#*# angle = 329.580460
#*# arm_length = 315.000000
#*# position_endstop = 337.757727
#*#
#*# [stepper_c]
#*# angle = 90.000000
#*# arm_length = 315.000000
#*# position_endstop = 338.245674
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.701548, -0.701548, -0.701548, -0.701548, -0.701548
#*# 	-0.794077, -0.794077, -0.780898, -0.837282, -0.837282
#*# 	-0.829972, -0.667645, -0.271161, 0.126415, 0.472378
#*# 	-0.830608, -0.830608, -0.538249, -0.117359, -0.117359
#*# 	-0.734537, -0.734537, -0.734537, -0.734537, -0.734537
#*# tension = 0.2
#*# min_x = -125.0
#*# algo = lagrange
#*# y_count = 5
#*# mesh_y_pps = 2
#*# min_y = -125.0
#*# x_count = 5
#*# max_y = 125.0
#*# mesh_x_pps = 2
#*# max_x = 125.0
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 67.846
#*# pid_ki = 1.409
#*# pid_kd = 816.697
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 21.203
#*# pid_ki = 0.873
#*# pid_kd = 128.807
#*#
#*# [delta_calibrate]
#*# height0 = 16.705
#*# height0_pos = 25734.600,25685.200,25727.600
#*# height1 = 16.705
#*# height1_pos = 31367.600,31387.800,22701.200
#*# height2 = 16.705
#*# height2_pos = 25130.200,34643.600,25139.600
#*# height3 = 16.705
#*# height3_pos = 22830.400,30358.800,30439.800
#*# height4 = 16.705
#*# height4_pos = 24950.200,24864.600,31758.800
#*# height5 = 16.705
#*# height5_pos = 29619.200,22939.600,29595.200
#*# height6 = 16.705
#*# height6_pos = 33116.400,24993.800,25008.400
