[gcode_macro START_PRINT]
gcode:
    {% set BED_TEMP = params.BED_TEMP|default(60)|int %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(210)|int %}

    {% set FLOW_RATE = params.FLOW_RATE|default(100.0)|float %}
    {% set Z_OFFSET = params.Z_OFFSET|default(0.0)|float %}
    {% set PRESSURE_ADVANCE = params.PRESSURE_ADVANCE|default(printer.extruder.pressure_advance)|float %}
    {% set BUILD_SURFACE = params.BUILD_SURFACE|default("PEI-spring-steel")|string %}
    {% set BED_MESH_PROFILE = params.BED_MESH_PROFILE|default("%s-%sC" % (BUILD_SURFACE, BED_TEMP))|string %}
    
    SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={ BED_TEMP }          # Heat up Bed
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET={ EXTRUDER_TEMP }     # Heat up Nozzle

    G21 # millimeter units
    G90 # Absolute coordinates
    M82 # Absolute extrusion distances.
    G92 E0 # Reset extrusion distance.
    CLEAR_PAUSE

    SET_GCODE_OFFSET Z={ Z_OFFSET }   # Reset the G-Code Z offset
    #BED_MESH_PROFILE LOAD={ BED_MESH_PROFILE }
    SET_PRESSURE_ADVANCE ADVANCE={ PRESSURE_ADVANCE }
    M221 S{ FLOW_RATE }
    M107 # Disable fan

    # Since we're about to have to wait anyway, do some slower pieces
    
    G28   # Home the printer
    G0 X0 Y0 Z50 F3000 # Lower the nozzle and set feedrate
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM={EXTRUDER_TEMP} # Wait for nozzle to reach temperature
    G1 E0        # Zero the extruder (must come after we've heated up the nozzle)
    TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={BED_TEMP}    # Wait for bed to reach temperature
    
    G0 X-130 Y0 Z0.4 F3000 # Move to start position for wipe move
    G3 X0 Y-130 I130 Z0.3 E40 F2700 # Extrude about 40 mm by printing a 90 degree arc

    G10 # Retract
    G0 Z5 # move off the plate
    G11  # Unretract

    G92 E0 # Zero out extruder

    M400 # wait for all moves to complete before handing back control
